<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>book.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooksServlet</servlet-name>
        <servlet-class>ManageBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOutServlet</servlet-name>
        <servlet-class>logOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookServlet</servlet-name>
        <servlet-class>IssueBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIssuedBooksServlet</servlet-name>
        <servlet-class>ManageIssuedBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIssuedBookServlet</servlet-name>
        <servlet-class>UpdateIssuedBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>ReturnBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserProfileServlet</servlet-name>
        <servlet-class>editUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculatePenaltyServlet</servlet-name>
        <servlet-class>CalculatePenaltyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPenaltyServlet</servlet-name>
        <servlet-class>PayPenaltyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLanguageServlet</servlet-name>
        <servlet-class>AddLanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageLanguagesServlet</servlet-name>
        <servlet-class>ManageLanguagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFormatServlet</servlet-name>
        <servlet-class>AddFormatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFormatServlet</servlet-name>
        <servlet-class>ManageFormatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooksServlet</servlet-name>
        <url-pattern>/ManageBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOutServlet</servlet-name>
        <url-pattern>/logOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookServlet</servlet-name>
        <url-pattern>/IssueBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIssuedBooksServlet</servlet-name>
        <url-pattern>/ManageIssuedBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIssuedBookServlet</servlet-name>
        <url-pattern>/UpdateIssuedBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserProfileServlet</servlet-name>
        <url-pattern>/editUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculatePenaltyServlet</servlet-name>
        <url-pattern>/CalculatePenaltyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPenaltyServlet</servlet-name>
        <url-pattern>/PayPenaltyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLanguageServlet</servlet-name>
        <url-pattern>/AddLanguageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageLanguagesServlet</servlet-name>
        <url-pattern>/ManageLanguagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFormatServlet</servlet-name>
        <url-pattern>/AddFormatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFormatServlet</servlet-name>
        <url-pattern>/ManageFormatServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
